<mat-card style=" max-width: 500px;">
  <mat-card-header>
    <mat-card-title>Paul Phoenix</mat-card-title>
    <mat-card-subtitle>classes : Aerobics and Boxing</mat-card-subtitle>
  </mat-card-header>
        <mat-card-content>
        <p>
             Paul is a multi-talented trainer that loves challenging his students so that they can reach their full potential.
        </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button (click)="gotoBooking()">Book a session</button>
  </mat-card-actions>
</mat-card>