<mat-card class="custom" *ngFor= "let class of classes">
  <mat-card-header>
    <mat-card-title>{{class.className}}</mat-card-title>
    <mat-card-subtitle>Trainer : Paul Phoenix</mat-card-subtitle>
  </mat-card-header>
        <mat-card-content>
        <p>
          {{class.classDescription}}
        </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button (click)="gotoBooking()" >Book a session </button>
  </mat-card-actions>
</mat-card>

<div style="padding-bottom: 50px;">
<div>