
    <div class="register-form">
		<form [formGroup]="profileForm"  (ngSubmit)="onSubmit()">

		<h2 class="text-center">Finalize booking</h2>
		<div class="form-group">
        <input type="text"  formControlName="name" placeholder="First Name">


        <div *ngIf="profileForm.get('name').touched && profileForm.get('name').invalid" class="alert alert-danger ">First Name is required</div>

		</div>

		<div class="form-group">

        <input type="text"  classs="form-control" formControlName="surname" placeholder="Last Name">
        <div *ngIf="profileForm.get('surname').touched && profileForm.get('surname').invalid" class="alert alert-danger ">Surname is required</div>
        </div>

	     <div class="form-group">
          <input type="email" classs="form-control" formControlName="email" placeholder="email">
          <div *ngIf="profileForm.get('email').invalid &&  profileForm.get('surname').touched" class="alert alert-danger "> Enter correct email format</div>
		</div>

		<div class="form-group">
          <input type="text"classs="form-control" formControlName="phone" placeholder="phone">
          <div *ngIf="profileForm.get('phone').touched && profileForm.get('phone').invalid" class="alert alert-danger ">Phone is required</div>
        </div>
        
        <div style="background-color: grey;" class="form-group">
        <mat-form-field  appearance="outline">
            <mat-label> start date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          
          <mat-form-field appearance="outline">
            <mat-label>end date</mat-label>
            <input matInput [matDatepicker]="pickert">
            <mat-datepicker-toggle matSuffix [for]="pickert"></mat-datepicker-toggle>
            <mat-datepicker #pickert></mat-datepicker>
          </mat-form-field>
        </div>
    <div>
      <input value = "submit" click="onSubmit()" class="btn btn-success btn-block" type="submit">
     </div>
  	</form>

  <div>
    <app-booking-success-dailog [showDialog]="showSuccesDialog"></app-booking-success-dailog>
  </div>
  
  <div>
    <app-booking-unsuccessful-dialog [showDialog]="false"></app-booking-unsuccessful-dialog>
  </div>